*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family:sans-serif;
}
.container{
	width:85%;
	height:100vh;
	margin:0 auto;
}
.content{
	display:flex;
	gap:3%;
	box-shadow:0px 0px 5px grey;
	padding:15px;
	margin-top:20px;
}
.box2{
	width:50%;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	padding:15px;
}
.box1{
	width:50%;
}
img{
	width:100%;
}
.heading{
	justify-content:center;
}
.logo{
	display:flex;
	gap:4%;
	margin:20px 0px;
}
.icon{
	width:120px;
	height:70px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#e2eef3b8;
	color:#5a5afb;
	font-size:25px; 
	border-radius:5px;
}
.heading h1{
	margin:20px 0px;
	text-align:center;
	color:#5f5f89;
	font-weight:100;
}
.heading p{
	line-height:1.5;
	font-size:17px;
	font-style:italic;
	color:grey;
}
.logo p{
	line-height:1.5;
	margin:10px 0px;
	font-size:16px;
	color:grey;
}
.image{
	position:relative;
}
.button{
	width:60px;
    height:60px;
    font-size:20px;
    position:absolute;
    top:245px;
    left:245px;
    color:#fbfbfb;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#3597bf;
    outline:10px solid #2389f145;
    outline-offset:5px;
    box-shadow:0px 0px 15px 10px #2389f145;
}
.logo h3{
	color:#000000a8;
}
	
	
	
	